.carousel-inner{
    max-width: 1300px;
    position: relative;
    margin: auto;
    padding-bottom: 18px;
    }

    img {
        max-height: 400px;
        max-width:500px;
        display: block;
        margin:  auto;
}
    body{
    background: url(../Images/board-carpentry-colors-dried-172280.jpg);
    background-repeat: no-repeat;
        background-size: 1600px 1800px;}

.top{
    opacity: .5;
    font-family: 'Calistoga', cursive;
    padding-bottom: 20px;
    
}

button{
opacity: 0.5;
font-family: 'Calistoga', cursive;
margin: auto;
padding-bottom: 40px;

}

.card-columns {

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1{
    text-align: center;
    font-family: 'Calistoga', cursive;
    color: whitesmoke;
}

p{
    text-align: center;
    font-family: 'Calistoga', cursive;
    color: whitesmoke;
    font-size: 24px;
}


.search{
    font-family: 'Calistoga', cursive;
    color: grey;  
}

.title{
    padding-top: 40px;
}
.test {
    padding-top: 40px;
    width: 800px;
    margin: auto;
    font-family:'Calistoga', cursive;
    color: whitesmoke;
    border-style:  solid;
    border-color:  whitesmoke;
}
.form-group{
    padding-left: 10px;
    padding-right: 10px;
}
.form-check{
    padding-left: 10px;
}
h2{
    padding-left: 15px;
}
h6{
    padding-left: 20px;
    font-size: 24px;
}


.form-check{
    padding-left: 40px;
    font-size: 18px;
}
.form{
    font-size: 24px;
}

#modal-bod{
    color: grey;
    font-family: 'Calistoga', cursive;
}

#submit{
    margin-left:350px;
    margin-bottom: 10px;
}

input[type=text], textarea {
    width: 100%; 
    position: static;
    padding: 8px, 10px, 25px, 10px; 
    border: 1px solid #c9c9c9; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 8px; 
    margin-bottom: 8px; 
    font-size: 12px;
    top: 100px;
    opacity: 0.8;
  }
  .test{
      margin-top:100px;
      padding:25px;
  }
  